@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f7f6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* @media (min-width : 650px){
  .medium-screen{
    display: flex;
    flex-direction: column-reverse;
    background: blue;
  }
} */

.logo-title{
  font-weight: bold;
  font-size: 2rem;
}

.circle-emerald-500{
  width: 4rem;
  height: 4rem;
}

.card-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, 30rem);
  align-items: center;
  justify-content: center;
  background-color: #56f1b8;
  border-radius: 2.5rem;
}

.card-grid .icon{
  font-size: 2rem;
  font-weight: bold;
}

.grid-width{
  width: 30rem;
  padding: 1rem 2rem;
  /* margin : 0 5rem 0 0 */
}

.empty-card{
  width: 15rem;
  height: 20rem;
  border-radius: 2rem;
}

.small-circle-check{
  width: 2rem;
  height: 2rem;
}

.empty-card-2{
  width: 25rem;
  height: 10rem;
  border-radius: 2rem;
}

.circle-orange-100{
  width: 7rem;
  height: 7rem;
  background-color: #f9ebda;
}

.circle-amber-100{
  width: 3rem;
  height: 3rem;
}